body {
  background-color: #007fff;
}
.apptitle {
  font-family: 'Noto Serif', serif;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.apptitle2 {
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  text-align: center;
  color: white;
}
.temp-data {
  text-align: center;
  padding-top: 20px;
}
#location, #current, #current_F, #condition {
  font-fmaily: 'Noto Serif', serif;
  font-size: 23px;
  color: white;
}
#showf, #showc,#copyright, a {
  font-fmaily: 'Noto Serif', serif;
  color: white;
  text-decoration: none;
  
}